<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block title %}{% endblock %}
	{% block style %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Raleway|Sorts+Mill+Goudy" rel="stylesheet">
    <script type = "text/javascript" src = "{{url_for('static', filename='trainsim.js')}}" ></script>
    {% block script %}{% endblock %}
</head>
<body>
{% block header %}
{% endblock %}

{% block body %}
{% endblock %}

{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
{% endfor %}
</body>
</html>
