{% extends "base.html" %}

{% block script %}
    <script type = "text/javascript" src = "{{url_for('static', filename='ctc.js')}}" ></script>
{% endblock %}

{% block title %}
    <title>CTC</title>
{% endblock %}

{% block style %}
	<link href="{{url_for('static', filename='ctc.css')}}" rel="stylesheet">
{% endblock %}

{% block header %}
	<div class="header-container">
		<h1 class="header-text">CTC</h1>
	<div>
{% endblock %}

{% block body %}
    <div>
        <input type="text" name="train-name" id="train-name">
        <button id="create-train-button" type="button" onclick="createTrain();">Create Train</button>
    </div>
    <div>
        <ul id="train-list"></ul>
    </div>
{% endblock %}
