{% extends "base.html" %}

{% block script %}
    <script type = "text/javascript" src = "{{url_for('static', filename='ctc.js')}}" ></script>
{% endblock %}

{% block title %}
    <title>CTC</title>
{% endblock %}

{% block style %}
	<link href="{{url_for('static', filename='ctc.css')}}" rel="stylesheet">
{% endblock %}

{% block header %}
	<div class="header-container">
		<h1 class="header-text">CTC</h1>
	<div>
{% endblock %}

{% block body %}
    <div>
        <input type="text" name="train-name" id="train-name">
        <button id="create-train-button" type="button" onclick="createTrain();">Create Train</button>
    </div>
    <div>
        <ul id="train-list"></ul>
    </div>
    <div>
        <input type="text" name="request-maintenance" id="request-maintenance">
        <button id="request-maintenance-button" type="button" onclick="requestMaintenance();">Request Maintenance</button>
    </div>
    <div>
        <input type="text" name="lift-maintenance" id="lift-maintenance">
        <button id="lift-maintenance-button" type="button" onclick="liftMaintenance();">Lift Maintenance</button>
    </div>
    <div>
        <ul id="block-list"></ul>
    </div>
    <div>
        <input type="text" name="test-switch" id="test-switch">
        <button id="test-switch-button" type="button" onclick="testSwitch();">Test Switch</button>
    </div>
    <div>
        <input type="text" name="test-crossing" id="test-switch">
        <button id="test-crossing-button" type="button" onclick="testCrossing();">Test Crossing</button>
    </div>
    <div>
        <input type="text" name="test-light" id="test-light">
        <button id="test-light-button" type="button" onclick="testLight();">Test Light</button>
    </div>
    <div>
        <input type="text" name="route-train-id" id="route-train-id">
        <input type="text" name="route-train-dest" id="route-train-dest">
        <button id="route-train-button" type="button" onclick="routeTrain();">Route Train</button>
    </div>
{% endblock %}
